/* STYLE PAGE SKILLS */

#skills {
  background-color: #161616;
  font-family: "Roboto Mono", monospace;
  color: #f8f9fa;
}

#skills .tabs {
  padding-top: 50px;
}

#skills .logo {
  max-width: 70px;
  max-height: 70px;
}

#skills .logos-tabs {
  padding: 50px 0px 0px 60px;
}

#skills .space-content {
  padding-left: 60px;
}

#skills .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #222222;
}

#skills a.nav-link {
  color: #f8f9fa;
  text-decoration: none;
  position: relative;
  font-family: "Roboto Mono", monospace;
}

#skills a.nav-link:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
}

#skills a.nav-link:hover:before {
  visibility: none;
  transform: scaleX(0);
}
