/* STYLE SECTION À PROPOS */

#about h2 {
  font-family: "Roboto Mono", monospace;
  color: #fff;
}

.bg-about {
  background-image: url("../../Assets/about-background.png");
}

.aboutme {
  padding-top: 60px;
}

img.photo-profil.rounded-circle {
  margin-block-start: 10px;
  margin-inline-start: 50px;
}
.photo-profil {
  width: 16rem;
  height: 16rem;
  border: 12px solid #202020;
  border-radius: 100%;
}

/* MESSAGE IOS */
#about .text {
  display: flex;
  flex-direction: column;
}

#about .iOSMessage {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: inline-block;
}

#about .intro {
  align-items: flex-start;
}

#about .intro .iOSMessage {
  margin-right: 25%;
  color: #fff;
  background-color: #0b93f6;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

#about .intro .iOSMessage.presentation:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #0b93f6;
  border-bottom-right-radius: 15px;
}

#about .intro .iOSMessage.presentation:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: #101010;
  border-bottom-right-radius: 10px;
}

/* BOUTON TELECHARGER CV */
a.button-about {
  position: relative;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  letter-spacing: 0.0625em;
  text-decoration: none !important;
}

a.button-about:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.button-about:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
